body {
    text-align: center;
    line-height: 1.5;
    font-size: 100%;
}

header,
section {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin: 24px 0;
}

h2 {
    font-size: 32px;
}

/* *********** form ************ */
form {
    margin: 48px;
}

legend {
    font-size: 24px;
    padding-bottom: 2rem;
}

form > input {
    width: 80%;
    padding-right: 2rem;
}

input {
    padding: 5px;
    align-items: center;
}

form label {
    justify-content: space-between;
}

button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    padding-left: 5px;
    padding-right: 5px;
}

/* ************** footer *************** */
footer li {
    display: inline;
}